/* variables */
:root {
  --primary: #ffc636;
  --secondary: #0a0b58;
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
}

/* reset */
body,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */
body {
  background: var(--secondary);
  overflow-x: hidden;
}

.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.button:hover {
  color: black;
  background: var(--primary);
}

input,
textarea {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893d8;
  color: #f2f2f2;
}

/* fonts */
h1,
h2,
h3,
h4 {
  color: #dddbff;
}

p,
a,
li {
  color: #9893d8;
}

h1,
h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}

h4,
.leading {
  font-size: 1.1em;
}

/* mobile styles */

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
}

.site-nav {
  margin: 0 2rem;
}

.site-nav ul {
  display: none;
}

.site-nav h1 {
  grid-column: 1/4;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--primary);
}

#welcome {
  padding: 0 2rem 2rem 2rem;
}

.welcome-text {
  grid-column: 1/6;
}

.welcome-img {
  grid-column: 6/9;
}

.welcome-img img {
  width: 200%;
}

.welcome-text a {
  margin: 2rem 0;
}

#portfolio {
  background: url(./assets/square_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 3rem 2rem;
}

#portfolio h3 {
  margin-bottom: 0;
  text-align: center;
}

.projects a {
  grid-column: 1/9;
  margin: 2rem 0;
  display: flex;
}

.projects a * {
  margin: 0 2rem;
  max-width: 40%;
  align-self: center;
}

.projects h4 {
  color: #9994f7;
}

#skills {
  padding: 3rem 2rem;
  background-color: #07083e;
}

#skills h3 {
  text-align: center;
}

#skills ul {
  margin: 4rem 0;
}

#skills li {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.2);
  grid-column: span 4;
  text-align: center;
}

#skills img {
  height: 8rem;
  margin: 1rem auto;
}

#contact {
  padding: 3rem 2rem;
  background: #080936;
}

#contact h3,
#contact p {
  text-align: center;
  margin: 0;
}

#contact form {
  width: 80%;
  max-width: 40rem;
  margin: 2rem auto;
  text-align: center;
}

#contact input,
#contact textarea {
  width: 100%;
  margin: 1rem 0;
}

#contact .button {
  margin-top: 1rem;
}

footer {
  padding: 3rem 2rem;
  background-color: #14153d;
  background-image: url(./assets/footer_image.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top center;
}

footer .copyright {
  grid-column: 1/3;
  font-size: 0.8em;
}

footer .social {
  grid-column: 7/9;
  display: flex;
  justify-content: flex-end;
}

footer li {
  margin: 0 0.6rem;
}

footer img {
  width: 2rem;
}
/* small tablet styles  */
@media screen and (min-width: 620px) {
  .welcome-text {
    grid-column: 1/5;
  }

  .welcome-img {
    grid-column: 5/9;
  }

  .welcome-img img {
    width: 100%;
  }

  .projects {
    margin-top: 4rem;
  }

  .projects a {
    grid-column: span 4;
    display: block;
    margin: 2rem 0;
  }

  .projects a:last-child {
    grid-column: 3/7;
  }

  .projects a * {
    margin: 1rem 20%;
    max-width: 60%;
  }

  .projects h4 {
    text-align: center;
  }

  #skills {
    padding: 3rem 10rem;
  }

  footer {
    background-size: 20%;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }

  .grid {
    width: 100%;
    max-width: 106rem;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .leading {
    margin: 2rem 0;
  }

  .site-nav {
    padding: 0 2rem;
  }

  .site-nav h1 {
    grid-column: 1/3;
  }

  .site-nav ul {
    display: flex;
    grid-column: 6/9;
    justify-content: flex-end;
    align-self: center;
  }

  .site-nav li {
    margin-left: 2rem;
  }

  .welcome-text {
    align-self: center;
  }

  #welcome {
    padding-bottom: 4rem;
  }

  .projects a:nth-child(1){
    grid-column: 2/4;
  }

  .projects a:nth-child(1){
    grid-column: 4/6;
    padding-top: 14rem;
  }

  .projects a:nth-child(1){
    grid-column: 6/8;
  }

  .projects a *{
    max-width: 80%;
    margin: 1rem 10%;
  }

  #skills{
    padding: 3rem 2rem;
  }

  #skills ul{
    margin: 4rem auto;
  }

  #skills li{
    grid-column: span 2;
  }

  footer{
    padding: 4rem 2rem;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }

}
